
Tubes2Stima/obj/Debug/Tubes2Stima.csproj.CoreCompileInputs.cache
.vs/Tubes2Stima/v15/.suo
.vs/Tubes2Stima/v15/Server/sqlite3/storage.ide-shm
.vs/Tubes2Stima/v15/Server/sqlite3/storage.ide-wal
Tubes2Stima/bin/DesktopGL/AnyCPU/Debug/app.publish/Tubes2Stima.exe
Tubes2Stima/bin/DesktopGL/AnyCPU/Debug/Tubes2Stima.application
Tubes2Stima/bin/DesktopGL/AnyCPU/Debug/Tubes2Stima.exe
Tubes2Stima/bin/DesktopGL/AnyCPU/Debug/Tubes2Stima.exe.manifest
Tubes2Stima/bin/DesktopGL/AnyCPU/Debug/Tubes2Stima.pdb
Tubes2Stima/obj/Debug/Tubes2Stima.application
Tubes2Stima/obj/Debug/Tubes2Stima.exe.manifest
Tubes2Stima/obj/Debug/Tubes2Stima.pdb
Tubes2Stima/obj/Debug/Tubes2Stima.exe
